<div class="container" style="background-color:#e3e9f2;">
  <h2 class="text-center"><img src="../assets/images/banner.jpg"/> <br><span><strong>Weather App</strong></span></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Current Weather </a></li>
    <li><a data-toggle="tab" href="#menu1">5 Day Forecast </a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <div class="col-xs-12">
          <h3>Current Data for {{ openWeatherMap?.name }} </h3>
          <span><label>Show Decimals?</label>  <input [(ngModel)]="showDecimal" type="checkbox" /></span><br>
          <span><label>Show Additional Information?</label>  <input [(ngModel)]="showAdditional" type="checkbox" /></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Temperature: {{ showDecimal ? openWeatherMap?.main.temp : (openWeatherMap?.main.temp | number:'1.0-0') }}° F at {{ openWeatherMap?.dt * 1000 | date:'EEEE MM/dd/yyyy h:mm a' }}
              <span *ngIf="showAdditional"><img src='http://openweathermap.org/img/w/{{ openWeatherMap?.weather[0].icon }}.png' /></span>
          </h4>
        </div>
      </div>
      <div *ngIf="showAdditional">
        <div class="row">
          <div class="col-xs-12">
            <h4>Cloud Cover: {{ openWeatherMap?.clouds.all }}%</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Humidity: {{ openWeatherMap?.main.humidity }}%</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4>Pressure: {{ showDecimal ? openWeatherMap?.main.pressure : (openWeatherMap?.main.pressure | number:'1.0-0') }} hPa</h4>
          </div>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>5 Day Forecast for {{ weatherForecast?.city.name }}</h3>
      <span><label>Show Decimals?</label>  <input [(ngModel)]="showDecimal" type="checkbox" /></span> <br>
      <span><label>Show Additional Information?</label>  <input [(ngModel)]="showAdditional" type="checkbox" /></span>
      <table *ngIf="weatherForecast" class="table table-striped">
        <thead>
        <tr>
          <th>
              Date/Time
          </th>
          <th>
              Temperature
          </th>
          <th>
              Forecast
          </th>
          <th *ngIf="showAdditional">
              Cloud Cover
          </th>
          <th *ngIf="showAdditional">
              Humidity
          </th>
          <th *ngIf="showAdditional">
              Pressure
          </th>
        </tr>
        </thead>
        <tbody *ngFor="let item of weatherForecast.list">
          <tr>
            <td>
              {{ item.dt * 1000 | date:'EEEE MM/dd/yyyy h:mm a' }}
            </td>
            <td>
              {{ showDecimal ? item.main.temp : (item.main.temp | number:'1.0-0') }}° F
            </td>
            <td>
              <img src='http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png' />
            </td>
            <td *ngIf="showAdditional">
                {{ item.clouds.all }}%
            </td>
            <td *ngIf="showAdditional">
                {{ item.main.humidity }}%
            </td>
            <td *ngIf="showAdditional">
                {{ showDecimal ? item.main.pressure : (item.main.pressure | number:'1.0-0') }} hPa
            </td>
          </tr>
        </tbody>

      </table>
      <!-- <div *ngFor="let item of weatherForecast.list">
          <div class="row">
              <div class="col-xs-4">
                  Date and time: {{ item.dt * 1000 | date:'MM/dd/yyyy HH:mm:ss' }}
              </div>
              <div class="col-xs-4">
                  Temperature: {{ item.main.temp }}° F
              </div>
              <div class="col-xs-4">
                  <img [src]="imgSrc + item.weather.icon" />
              </div>
          </div>
      </div> -->
    </div>
  </div>
</div>
<div style="text-align: center;">
<img width="300" alt="Angular Logo" src="../assets/images/dlabs_image.png">
</div>
